body {
  background-color: rgb(5, 2, 13);
}

.container {
}

header {
  text-align: center;
  padding: 5%;
}

.main {
}

.blasthack {
  padding: 10px;
  color: rgb(87, 62, 121);
  text-decoration: none;
  user-select: none;
  border: 2px solid;
  border-radius: 1px;
  margin-left: 45%;
}

.blasthack:hover {
  background-color: rgb(9, 4, 20);
}

.blasthack:active {
  color: rgb(113, 82, 157);
}
